{% extends "::layout.html.twig" %}

{% block title parent() ~ "Page de test" %}
    
   
    
{% block content %}
     Administration<br/>
     <a href='{{ path('_addUser')}}'>Ajouter un professeur</a>
{% endblock %}