{% extends "::layout.html.twig" %}

{% block title parent() ~ "Accueil" %}
    
   
    
{% block content %}
    <div>
        <h2>Page d'accueil</h2><br/>
        <p>Cette application web vous permet de partitionner selon votre choix une liste de personne.</p>
        {% if app.user and is_granted('ROLE_ADMIN') %}
        <p>Vous trouverez vos action d'administrateur dans l'onglet Administration.</p>
        {% endif %}
    </div><br/>
     
     {% if app.user and is_granted('ROLE_USER') %}
         <div>
             <h3>Vos options : </h3>
            <ul>
                <li><a href='{{ path('_updateMdp')}}'>Changer votre mot de passe</a></li>
            </ul>
        </div>
        {% endif %}
        
    {% block javascript %}
        {% if app.request.get('mdpChanged') == 'true'%}
            <script type="text/javascript">alert('Mot de passe changé !');</script>
        {% endif %}
    {% endblock %}
{% endblock %}