{% extends "::layout.html.twig" %}

{% block title parent() ~ "Page de test" %}
    
{% block content %}
    
    
    
    <div class="row">
        
        <div class="col-md-5">
            <!--<div class="form-group">
                <label>Intitulé du devoir</label> <input class="form-control" />
            </div>-->
            <div class="form-group">        
                <label> Cardinale max des groupes <input class="form-control" type="text" id='cardgroupes' value="3"/>
                </label>     
            </div>

            <!--<div class="form-group">
                <label>Fichier des élèves (csv = prénom;nom)</label> <input type="file" />
            </div>-->
            <div class="form-group">
                <label  for="listeeleves">Liste élèves</label>         
                <textarea class="form-control" id="listeeleves" name="listeeleves">Clochard David
Madani Aniss
Sellathurai Vyach
Patel Jay
Lahmik Idriss
Clochard Jeremy
Cha Alexandre
Martin Michael
Kittiphan Vincent
Sigocki Quentin
Bezhadi Maziar
Hivert Natacha</textarea>        
            </div>

            <div class="form-group">
                <button type="button" class="btn" onClick="uploadForm();">Soumettre</button>
            </div>
        </div>
        <div class="col-lg-4"><img src="{{ asset('bundles/bootstrap/images/cakeMission2.jpg') }}" alt="parts_egales" /></div>
   </div>
    
  <!-- Panel -->
  <div class="text-center" >
  <div class="panel panel-default">
   <div class="panel-heading">Données pour la génération des groupes</div>
   <div class="panel-body">
    <div class="row">
     <h3>[Choix d'une partition]</h3>
     <div id="choixGroupe"></div>
    </div>
   </div>
  </div>
  <div class="panel panel-default">
   <div class="panel-heading">Voici les groupes</div>
   <div class="panel-body">
    <div class="row" id="res">
     <h3>Les groupes</h3>

    </div>
   </div>
  </div>
    
      <script src="{{ asset('bundles/ajax/js/uploadForm.js') }}"></script>
{% endblock %}


